.countryItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  font-size: 1.7rem;
  font-weight: 600;
  background-color: var(--color-dark--2);
  border-radius: 7px;
  /* padding: 1rem 1rem; */
  padding: 0.5rem;
  border-left: 4px solid var(--color-brand--1);

}

.countryItem span:first-child {
  font-size: 3rem;
  line-height: 1;
}

.countryItem span:last-child {
  margin-bottom: 2rem;
}